<section class="home-section2">
  <div class="container home-section__container">
    <div class="home-section__logo-container">
      <div class="home-section__logo-img"></div>
      <div class="home-section__logo-title-container">
        <svg class="home-section__logo-icon" width="" height="">
          <use href="./images/home-section__logo-svg_3.svg"></use>
        </svg>
        <h3 class="home-section__logo-title">Task Pro</h3>
      </div>
      <p class="home-section__text">
        Supercharge your productivity and take control of your tasks with Task
        Pro - Don't wait, start achieving your goals now!
      </p>
      <a class="home-section__reg-link link" href="/registration">
        <span class="home-section__reg-link-text">Registration</span>
      </a>
      <a class="home-section__log-link link" href="/login">
        <span class="home-section__log-link-text">Log In</span>
      </a>
    </div>
  </div>
</section>