<section class="log-section">
  <div class="container log-section__container">
    <div class="log-section__main-container">
      <div class="log-section__reg-link-container">
        <a class="reg-section__reg-link link" href="./registration.html">
          <span class="log-section__reg-link-text">Registration</span>
        </a>
        <a class="log-section__reg-link link" href="./login.html">
          <span class="log-section__log-link-text">Log In</span>
        </a>
      </div>
      <form class="log-section__form" action="" id="form-log">
        <label class="log-section__label-email" for="email-log"></label>
        <input
          class="log-section__input-email"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <label class="log-section__label-password" for="password-log"></label>
        <input
          class="log-section__input-password"
          type="password"
          name="password"
          placeholder="Create a password"
          required
        />
        <button class="log-section__btn-submit" type="submit">
          <span class="log-section__btn-submit-text">Log In Now</span>
        </button>
      </form>
    </div>
  </div>
</section>