.main {
}
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  height: 100vh;
}
.main__container {
}
.main__left-sidebar {
  background-color: #aaa;
  height: 100vw;
}
.main__right-sidebar {
}
.main__right-sidebar-header {
  background-color: #ccc;
}
.main__right-sidebar-content {
  background-color: #ddd;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  height: 100vw;
}
