.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 375px) {
  .container {
    width: 345px;
    height: 812px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
    min-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
